_minted-*/
_minted-wp/
.DS_Store
.idea/
*-SAVE-ERROR
*.aux
*.bbl
*.bcf
*.blg
*.crumbs
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.pyg
*.run.xml
*.toc
*.xcp
01-debating/01-debating.pdf
02-reporting-bugs/02-reporting-bugs.pdf
03-making-changes/03-making-changes.pdf
04-reviewing-changes/04-reviewing-changes.pdf
05-setting-guidelines/05-setting-guidelines.pdf
06-integrating/06-integrating.pdf
07-releasing/07-releasing.pdf
08-gaining-popularity/08-gaining-popularity.pdf
face-1024x1024.jpg
node_modules/
package/
svg-inkscape/
syllabus/syllabus.pdf
target/
