.DS_Store
target/
_minted-*/
*.idx
*.ilg
*.ind
*.bbl
*.bcf
*.blg
*.fdb_latexmk
_minted-wp/
*.fls
*.log
*.run.xml
*.aux
*.pyg
*.out
*.dvi
*.xcp
*.toc
*.crumbs
package/
face-1024x1024.jpg
svg-inkscape/
01-debating/01-debating.pdf
02-reporting-bugs/02-reporting-bugs.pdf
03-making-changes/03-making-changes.pdf
04-reviewing-changes/04-reviewing-changes.pdf
05-setting-guidelines/05-setting-guidelines.pdf
06-integrating/06-integrating.pdf
07-releasing/07-releasing.pdf
08-gaining-popularity/08-gaining-popularity.pdf
syllabus/syllabus.pdf
*-SAVE-ERROR
